#calculator{
    height: 500px;
    width: 400px;
    border: 10px solid blue;
    margin-left: 25%;
}

#display{
    width: 380px;
    height: 150px;
    border: 10px solid green;
    text-align: left;
}

#userButtons{
    display: flex;
}

#numbers{
    width: 310px;
    height: 310px;
    border: 10px solid black;
}

#bottomRow, #middleRow, #topRow{
    border: 10px solid red;
    width: 290px;
    height: 83.5px;
    display: flex;
}

.userNumber{
    width: 96.7px;
    height: 79.5px;
    border: 2px solid orange;
}

.rightSection{
    width: 60px;
    height: 310px;
    border: 10px solid black;
}

.rightSection button{
    width: 50px;
    height: 40px;
    border: 2px solid orange;
}

